   /* Iniciando fontes extras e Cabeçalho*/
@font-face {
    font-family: 'harry_pregular';
    src: url('harryp__-webfont.woff2') format('woff2'),
         url('harryp__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.HarryFonte{
font-family: 'harry_pregular', Arial, Helvetica, sans-serif;
font-size: 20px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

h1{
    text-align: center;
    font-size: 100px;
}

/*barra de navegação*/
nav{
font-size: 45px;
color: black;
}
a {
    color: black;
text-decoration: none;
font-size: 45px;
}

/* a configuração :hover é usada para quando o mouse estiver passando em cima do local específico do container */
/* no caso, quando for sua página, é só usar o código da home sem o :hover, e excluir o código da home */

.tribruxo{
    background-color: blueviolet;
}


.homepage:hover{
background-image: url("homepageHover.png");

}

.disciplinas:hover{
    background-image: url("disciplinas.png");
}

.tribuxo:hover{
    background-image: url("tribuxo.png");
}

.animais:hover{
    background-image: url("animais.png");
}

.quadribol:hover{
    background-image: url("quadribol.png");
}
/*fim da barra de navegação*/

/* Configuração de estilo do Artigo */

article{
border-radius: 25px;
background: yellow;
border: 2px solid #73AD21;
padding: 20px; 
width: 1200px;
height: 335px; 
opacity: 0.8;
  }


h2{
    text-align: center;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
}

.C_artigo{
    text-align: left;
    position: relative;
}



div .box{
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}


h3{
    text-align: justify;
font-size: 20px;
color:black;
margin-left: auto;
margin-right: auto;
}

.mapa{
    display: block;
    float: right;   
}

.video{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
/*div .HarryFonte{
    
}*/

.logo{
float: right;
}

    body{
        background-image: url("background2_opaco.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: grey;
    }

/* Responsividade */

    @media only screen and (max-device-width: 900px) {
        .C_artigo { width:600px; }
        .video { width:600px; }
        .HarryFonte { width:600px; }
    
       }



















    /* mudanças




tirei a lista do nav para ficar do jeito que eu queria (barra no meio)


    ul{
    text-align:center;
    list-style: none;
    width:450px;
    margin-left:auto;
    margin-right:auto;
    text-
}


*/