.logo {
    float: right;
    max-width: 284px;
    max-height: 271px;
}
body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*Padrão do Home*/
@font-face {
    font-family: "harry_pregular";
    src: url("harryp__-webfont.woff2") format("woff2"),
         url("harryp__-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
.HarryFonte {
    font-family: 'harry_pregular', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.table{
    text-align: center;
}
nav {
    width: 100%;
    font-size: 45px;
    color: black;
}
a {
    color: black;
    text-decoration: none;
    font-size: 45px;
}

.quadribol {
    background-color:white;
    border-radius: 6px;
}

.homepage:hover {
    background-color: red;
    border-radius: 6px;
}
.disciplinas:hover {
    background-color: red;
    border-radius: 6px;
}
.tribuxo:hover {
    background-color: red;
    border-radius: 6px;
}
.animais:hover {
    background-color: red;
    border-radius: 6px;
}
.quadribol:hover {
    background-color: red;
    border-radius: 6px;
}
/*fim da barra de navegação (Home)*/

/* Configuração de estilo do Artigo */

h1 {
    text-align: center;
    font-size: 100px;
}
h2 {
    font-family: 'harry_pregular', Arial, Helvetica, sans-serif;
    padding: 15px;
    font-size: 50px;
    font-weight: bold;
}

/*Organiza a tabela1 cores, texto, borda e etc*/
.tabela1 {
    text-align: center;
}
#tabela1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-collapse: collapse;
    background-color: rgb(250, 250, 250);
    padding: 15px;
    margin: auto;
    margin-left: 42%;
}
#tabela1 td, #tabela1 th {
    border: 2px solid rgb(0,0,0);
    padding: 15px;
}

/*Organiza a tabela2 cores, texto, borda e etc*/
.tabela2 {
    text-align: center;
}

.sec1{

}

#tabela2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-collapse: collapse;
    background-color: rgb(250, 250, 250);
    padding: 15px;
    margin-left: 0%;
    margin: auto;
}
#tabela2 td, #tabela2 th {
    border: 2px solid rgb(0,0,0);
    padding: 5px;
}

/*Organiza a borda o texto e as letras das REGRAS*/
.regras {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    padding: 8px;  
    border-radius: 25px;
    background: white;
    border: 2px solid black;
    padding: 15px; 
    max-width: 100%;
    max-height: 100%;  
    opacity: 0.7;
    margin: auto;

} 

/* Organiza a letras, tamanho, e as posições onde  */
.video {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    float: center;
}

/* Responsividade */

@media only screen and (max-device-width: 900px) {
    .cabecalho { width:600px; }
    .HarryFonte { width:600px; }
    .regras { width:600px; }
    aside { width:600px; }
    article { width:600px;}

   }